doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
    title
      block title

    meta(name='viewport' content='width=device-width')
    link(rel='stylesheet' type='text/css' href='styles/style.css' media='screen, projection, print')

  body
    <!--[if lt IE 8]>
    <p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
    <![endif]-->

    .wrapper
      .content

        block content

      include _common/footer

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='scripts/vendor.min.js')
    script(src='scripts/script.js')